<%-include ../partial/header%>
<body>
<%-include ../partial/menu%>
  <div class="container">
    <h3>Schedule List</h3>
    <h3><a href="/schedules/add">Add Doctor</a></h3>
    <table>
        <th>No</th>
        <th>Hari</th>
        <th>Jam</th>
        <th>Max Customer</th>
        <th>Dokter</th>
        <th>Spesialis</th>
        <th>Options</th>
        <%let no=0; if (dataSchedule){dataSchedule.forEach(rows=>{no++%>
          <tr>
            <td><%=no%></td>
            <td><%=rows.day%></td>
            <td><%=rows.time%></td>
            <td><%=rows.max_customer%></td>
            <td><%=rows.Doctor.name%></td>
            <td><%=rows.Doctor.specialist%></td>
            <td>
              <a href="/schedules/edit/<%=rows.id%>">Edit</a>
              <a href="#">|</a>
              <a onclick="return confirm('Are you sure to delete this data?')" href="/schedules/delete/<%=rows.id%>">Delete</a>
            </td>
          </tr>
        <%})}%>
    </table>
  </div>
  </body>
</html>
