<%-include ../partial/header%>
<body>
<%-include ../partial/menu%>
<div class="container">
    <h3>Edit Doctor</h3>
    <form class="" action="/schedules/edit/<%=dataSchedule.id%>" method="post">
      <p>Hari:</p>
      <select name="day">
        <%if (hari){hari.forEach(rows=>{%>
          <%if (dataSchedule.day==rows.hari){%>
          <option value="<%=rows.hari%>" selected><%=rows.hari%></option>
          <%} else {%>
          <option value="<%=rows.hari%>"><%=rows.hari%></option>
        <%}})}%>
      </select>
      <p>
      Jam:
      </p>
      <input type="time" name="time" value="<%=dataSchedule.time%>">
      <p>
      Dokter:
      </p>
      <select class="" name="DoctorId">
        <%if (dataDoctor){dataDoctor.forEach(rows=>{%>
          <%if (dataSchedule.DoctorId==rows.id){%>
            <option value="<%=rows.id%>" selected><%=rows.name%></option>
          <%} else {%>
            <option value="<%=rows.id%>"><%=rows.name%></option>
        <%}})}%>
      </select>
      <p>
      Maximum Pelanggan:
      </p>
      <input type="text" name="max_customer" value="<%=dataSchedule.max_customer%>">
      <input type="submit" value="Edit Schedule">
    </form>
    </div>
  </body>
</html>
