<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Data Schedule</title>
  </head>
  <body>
    <h1>Add Data Schedules</h1>
    <a href="/schedules">Return to Schedule</a><br><br>
    <form class="" action="/schedules/add" method="post">
      Hari:<br>
      <select class="" name="day">
        <%if (hari){hari.forEach(rows=>{%>
          <option value="<%=rows.hari%>"><%=rows.hari%></option>
        <%})}%>
      </select><br>
      Jam:<br>
      <%let time_conv = new Date()%>
    	<%let time = time_conv.getHours() + ':' + time_conv.getMinutes()%>
      <input type="time" name="time" value="<%=time%>"><br>
      Dokter: <br>
      <select class="" name="DoctorId">
        <%if (dataDoctor){dataDoctor.forEach(rows=>{%>
          <option value="<%=rows.id%>"><%=rows.name%></option>
        <%})}%>
      </select><br>
      Maximum Pelanggan:<br>
      <input type="text" name="max_customer" value=""><br><br>
      <button type="submit" name="button">Add Schedule</button>
    </form>
  </body>
</html>
