<%-include ../partial/header%>
<body>
<%-include ../partial/menu%>
<div class="container">
<h3>EDIT USERNAME</h3>
<form method="post" action="/users/edit/<%-data.id%>">
<p>Role</p>
<select name="role">
	<option value="<%-data.role%>" selected="selected"><%-data.role%></option>
	<option value="Customer">Customer</option>
	<option value="Doctor">Doctor</option>
	<option value="Admin">Admin</option>
</select>
<p>
<input type="submit" value="Edit User">
</p>
</form>
</div>
</body>
</html>